In [2]:
from keras.models import load_model
from sklearn.model_selection import train_test_split
from keras.layers import Input, Embedding, Flatten, Dot, Dense, Concatenate
from keras.models import Model
import tensorflow as tf

%matplotlib inline

In [44]:
from google.colab import files 
uploaded = files.upload()

Saving imdb_tr.csv to imdb_tr.csv

In [54]:
import pandas as pd
import numpy as np
dataset = pd.read_csv('imdb_tr.csv')
dataset['user_id'] = np.random.randint(1001, 3500, dataset.shape[0])
dataset['item_id'] = np.random.randint(100,600 , dataset.shape[0])
dataset['rating'] = np.random.randint(1, 5, dataset.shape[0])

dataset.head()

,review,polarity,user_id,item_id,rating
0,one best movies 've ever seen good acting anks...,Positive,1706,547,2
1,ver read im hompson e's hardboiled noir extrem...,Positive,2107,331,1
2,film bad way say story weak outdated especiall...,Negative,2204,520,4
3,hen inlaws viciously murdered gang thugs young...,Negative,2689,119,3
4,ello laymates recently watched film first time...,Positive,1573,187,3

In [55]:
train, test = train_test_split(dataset, test_size=0.2, random_state=42)

In [56]:
train

,review,polarity,user_id,item_id,rating
23311,poorly written script likeable characters come...,Negative,1543,542,4
23623,helma itter steal picture finished watching he...,Positive,1088,316,1
1020,hamefull may movie actually made videomarket b...,Negative,3237,191,3
12645,watch good gory film 've seen pretty sick stuf...,Negative,1644,157,1
1533,merican icon enry onda portrays legant ohn owa...,Positive,1830,475,1
...,...,...,...,...,...
21575,movie seriously awful acting worst worse stude...,Negative,1814,298,4
5390,author ekromantik rg uttgereit's second featur...,Positive,2985,542,3
860,xtremely poor action film starring ever wooden...,Negative,1489,374,1
15795,would rather eyes gouged rusty ice picks sit a...,Negative,1609,315,3
23654,bought year ago yep left shelf ages watching h...,Positive,1361,455,2

In [57]:
test

,review,polarity,user_id,item_id,rating
6868,hat's like movie year know going get one two y...,Positive,1270,592,4
24016,movie perfect portrayal utcracker dancing wond...,Positive,2594,151,2
9668,dog found local kennel mated atan litter puppi...,Negative,3272,569,4
13640,comparison perhaps unfair inevitable hose attr...,Negative,1648,549,2
14018,kay seriously ' think anything worse series ma...,Negative,2949,523,2
...,...,...,...,...,...
8670,really hope oncordeew orizons trying make seri...,Negative,2543,576,1
11839,accounts could interesting film eaturing score...,Negative,2470,133,1
4013,'ve reading posts concerning onder oman's cost...,Negative,1930,149,4
21147,movie one favourites genremixture ingredients ...,Positive,2729,520,2
695,ven early career apra quite accomplished camer...,Positive,3330,592,1

In [58]:
import torch 
import torch.nn as nn

In [59]:
# creating book embedding path
movie_input = Input(shape=[1], name="Movie-Input")
movie_embedding = Embedding(1, 5, name="Movie-Embedding")(movie_input)
movie_vec = Flatten(name="Flatten-Books")(movie_embedding)
# creating user embedding path
user_input = Input(shape=[1], name="User-Input")
user_embedding = Embedding(1, 5, name="User-Embedding")(user_input)
user_vec = Flatten(name="Flatten-Users")(user_embedding)
# concatenate features
conc = Concatenate()([movie_vec, user_vec])
# add fully-connected-layers
fc1 = Dense(128, activation='sigmoid')(conc)
fc2 = Dense(32, activation='sigmoid')(fc1)
out = Dense(1)(fc2)
# Create model and compile it
model2 = Model([user_input, movie_input], out)
model2.compile('adam',loss='sparse_categorical_crossentropy')

In [61]:
import surprise
from surprise import Reader , Dataset , SVD 
from surprise.model_selection import cross_validate

In [ ]:
history = model2.fit([train.user_id, train.item_id], train.rating, epochs=5, verbose=1)

In [62]:
! pip install surprise

Requirement already satisfied: surprise in /usr/local/lib/python3.7/dist-packages (0.1)
Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (from surprise) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.6)

In [63]:
svd=SVD()
trainset = data.build_full_trainset()
svd.fit(trainset)

In [64]:
svd.predict(1005, 381, 4)

Prediction(uid=1005, iid=381, r_ui=4, est=3.636839486607272, details={'was_impossible': False})